/*************
GENERAL
*************/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	line-height:1.75em;
	color: #2e2e2e;
	background-color: #ebebeb;
}

a {
	text-decoration: none;
	color: #80a1a1;
}

#wrapper {
	max-width: 680px;
	margin: 75px auto;
	padding: 0 0%;
	background-color: #d4d4d4;
}

/*************
HEADING
*************/

h1 {
	font-family: 'Lora', sans-serif;
	font-size: 2.0em;
	font-weight: 700;
	line-height: 0.8em;
	padding: 10px 0 10px 0;
}

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background-color: #d4d4d4;
}

header a {
	text-align: center;
}

/*************
NAVIGATION
*************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	background-color: #d4d4d4;
}

nav ul {
	list-style: none;
	margin: 0 20px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 15px 10px;
}


/*************
SECTION
*************/

section {
	padding: 0 7%;
	float: none;
	clear: both;
}

.image  {
	float: left;
	margin-right: 20px;
	max-width: 200px;
}

section .intro {
	overflow: auto;
	margin-top: 0;
}

#icons {
	clear: both;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

#icons ul {
    margin: 0 auto;
    padding-left: 0px;
}

#icons ul li {
    margin-left: 0px;
    padding-left: 0px;
    display: inline;
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

.icon {
	width: 40px;
	height: 40px;
	margin-right: 15px;
}

/*************
FOOTER
*************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 25px;
	color: #777;
	background-color: #ebebeb;
}

/*************
Media Queries
*************/

@media screen and (max-width: 480px) {    
    section .image {
    float: none;
    margin: auto;   
  }
}
