<footer>
    <ul class="social-icons">
      <li>
        <a href="mailto:me@noelledaley.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/elnoelle">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/noelledaley">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/noelledaley">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
</footer>
