$text-color:       #252A2A;
$background-color: #f5f5f5;
$brand-color:      #4D759D;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$link-color:       #4D759D;
