$text-color:       #161616;
$background-color: #ebebeb;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$link-color:       #80a1a1;
