$base-font-family: "Lora", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-font-weight: 400;
$bold-font-weight: 700;

$line-height: 1.75em;

$spacing-unit: 40px;
