/*************
GENERAL
*************/

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: #444;
    font-family: Georgia;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #222;
}

p {
    line-height: 1.65em;
}

/*************
TOP
*************/

.banner {
    margin: 0 auto;
    width: 100%;
    padding: 0 0 50px 0;
    background-color: lightblue;
}

.top-container {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 25px 0 50px;
}

.banner h1 {
    margin: 100px 30px 50px 30px;
    line-height: 1.3em;
    text-align: center;
}

.button {
    margin: auto;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: forestgreen;
    display: block;
    text-align: center;
    width: 250px;
}

/*************
NAV
*************/

nav {
    display: block;
    float: right;
    padding: 30px 0 0 0;
    
}

nav a {
    padding: 10px 0 10px 10px;
}

/*************
CONTENT
*************/

.products {
    padding: 10px 0 0 0;
}

.products ul {
    list-style-type: none;
    display: block;
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}

.products li {
    display: block;
    float: left;
    padding: 10px;
    width: 31%;
    text-align: left;
}

/*************
FOOTER
*************/

footer {
    border-top: 1px solid;
}

footer p {
    text-align: right;
}